<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
      <label for="firstname">First Name</label>
      <input name="firstname" id="firstname" type="text" />
      <label for="lastname">Last Name</label>
      <input name="lastname" id="lastname" type="text" />
      <label for="username">Username</label>
      <input name="username" id="username" type="text" />
      <label for="email">Email</label>
      <input name="email" id="email" type="email" />
      <label for="password">Password</label>
      <input name="password" id="password" type="password" />
      <p>Enter Below If You Have a Membership or Moderation Codes</p>
      <label for="membership_code">Membership Code</label>
      <input name="membership_code" id="membership_code" type="text" />
      <label for="moderator_code">Moderator Code</label>
      <input name="moderator_code" id="moderator_code" type="text" />
      <button>Sign Up</button>
    </form>
  </body>
</html>
