* {
  box-sizing: border-box;
}

h1 {
  font-size: calc(16px + 0.5vw);
  font-weight: bolder;
  margin: 10% 0 5% 0;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  padding: 0.5rem;
  width: fit-content;
}

label {
  font-size: calc(14px + 0.5vw);
  font-weight: bolder;
}

input {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
  font-size: calc(14px + 0.5vw);
  color: black;
}

button {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border: solid 2px lightcyan;
  border-radius: 5px;
  align-self: center;
  background-color: lightcyan;
  color: rgb(0, 32, 51);
  font-size: calc(14px + 0.5vw);
  font-weight: bolder;
  cursor: pointer;
}

@media (min-width: 400px) {
  h1 {
    margin: 2.5rem 0;
    font-size: 18px;
  }

  button,
  input,
  label {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }
}
